html, body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
nav {
    background-color: darkslategray;
    position: sticky;
    top: 0;
    height: 120px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 0px 20px;
    line-height: 80px;
}
section {
    height: calc(100vh - 100px);
    scroll-margin-top: 100px;
}
#home {
    background-color: goldenrod;
}
#galery {
    background-color: white;
}
#about {
    background-color: darkgoldenrod;
}
#contact {
    background-color: sienna;
}
h1 {
    margin: 0 20px 10px 30px;
    padding-top: 20px;
}
p {
    padding: 30px;
}
.hac {
    width: 30px;
    height: 30px;
    margin-left: 570px;
    background-image: url(../img/en.jpg);
    background-position: center;
    background-size: cover;
}
.img1 {
    background-image: url(../img/h1.jpg);
}
.img2 {
    background-image: url(../img/h2.jpg);
}
.img3 {
    background-image: url(../img/h3.jpg);
}
.img4 {
    background-image: url(../img/h4.jpg);
}
.img5 {
    background-image: url(../img/h5.jpg);
}
.img6 {
    background-image: url(../img/h6.jpg);
}
.img7 {
    background-image: url(../img/h7.jpg);
}
.img8 {
    background-image: url(../img/h8.jpg);
}
.nuro div {
    float: left;
    border: 2px solid rgb(0, 0, 0);
    height: 24%;
    width: 22%;
    margin: 1.10%;
    background-size: cover;
    display: inline-block;
}