html, body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.header{
    height: 80px;
    width: auto;
    background-color: rgb(249, 224, 0);
}
ul{
    height: auto;
    width: 100%;
    background-color: red;
    display: inline-block;
}
.conten{
    height: 75%;
    width: auto;
    background-color: aqua;
}
.footer{
    width: auto;
    height: 74px;
    background-color: limegreen;
}
p{
    column-count: 4;
    column-rule: 2px solid limegreen;
}
a{
    text-decoration: none;
}
li{
    display: inline-block;
    padding: 10px;
}
a:hover{
    text-decoration: underline;
    transition: 1s;
    color: blue;
}
.ff{
    background-color: gray;
    border-radius: 10%;
    padding: 30px;
}