html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    font-size: 20px;
    background-color: indigo;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    background-color: indigo;
    height: 150px;
    align-items: center;
    position: sticky;
    top: 0;
}

.header-item {
    margin-right: auto;
    margin-left: 15px;
    background-image: url(aspa.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 120px;
    width: 150px;
}

.call {
    float: right;
    background-image: url(call.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    margin:10px;
    transform: scale(1);
    transition: 0.4s;
}
.whatsapp {
    float: right;
    background-image: url(whatsapp.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-right: 15px;
    transform: scale(1);
    transition: 0.4s;
}
.whatsapp:hover {
   transform: scale(1.3);
}

.call:hover {
    transform: scale(1.3);
}

.nav {
    float: right;
    background-image: url(nav.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-right: 15px;
}
h3 {
    padding: 10px;
}

p {
    font-size: 25px;
    text-align: center;
}

#footer {
    font-size: 20px;
}

iframe {
    width: 100%;
    border-radius: 10px;
    margin: 20px;
    filter: invert(100%);
}

.footer {
    display: flex;
    justify-content: center;
    background-color: indigo;
    height: 60px;
    align-items: center;
    position: sticky;
    bottom: 0;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    background-color: indigo;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex: 1 0 300px;
    padding: 20px;
    border-radius: 10px;
    color: indigo;
}

.img {
    height: 400px;
    width: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 10px;
}

.img1 {
    background-image: url(html.png);
}
.img2 {
    background-image: url(css.png);
}
.img3 {
    background-image: url(js.png);
}
.img4 {
    background-image: url(php.png);
}
.img5 {
    background-image: url(mysql.png);
}
.img6 {
    background-image: url(python.png);
}
.img7 {
    background-image: url(bootstrap.png);
}
.img8 {
    background-image: url(jquery.png);
}
.img9 {
    background-image: url(sass.png);
}
.img10 {
    background-image: url(react.png);
}

@media (max-width:600px) {
    .header-item {
        height: 80px;
        width: 100px;
    }
    .header {
        height: 100px;
    }
    .call {
        width: 30px;
        height: 30px;
    }
    .whatsapp {
        width: 30px;
        height: 30px;
    }
    .nav {
        width: 30px;
        height: 30px;
    }
    .footer {
        height: 40px;
    }
    p {
        font-size: 23px;
    }
    #footer {
        font-size: 16px;
    }
}
